$black : #b58863;
$white : #f0d9b5;
$dark_green : #646e40;
$light_green:#819669;

*{
    box-sizing: border-box;
}

body,html{
    margin:0;   
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.background{
    display:flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(22,21,18);
    position:relative;

    &.transparent{
        background-color: rgba(22,21,18,0.9);
    }
}


.board{
    display:grid;
    grid-template-columns: repeat(8,clamp(2.5rem,11vmin,6rem));

    &.nonactive{
        display:none;
    }
}


.square{
    height:clamp(2.5rem,11vmin,6rem);
    margin:0.5px;
    position: relative;
    font-size: clamp(1rem,8.5vmin,4rem);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.black{
    background-color: $black;
    & .possible-move{
        background-color: $dark_green;
    }
    & .possible-move.with-piece{
        background-color: $black;
    }
    &.with-piece{
        background-color: $dark_green;
    }
    
}


.white{
    background-color: $white;
    & .possible-move{
        background-color: $light_green;
    }
    & .possible-move.with-piece{
        background-color: $white;
    }
    &.with-piece{
        background-color: $light_green;
    }
}

.piece-space{
    z-index: 10;
}

.black-text{
    color:$black;
}

.white-text{
    color:$white;
}

.letter{
    position: absolute;
    left:4px;
    bottom:1px;
    font-size: clamp(0.2rem,2vmin,1rem)
}

.number{
    position: absolute;
    top:1px;
    right:4px;
    font-size: clamp(0.2rem,2vmin,1rem)
}

.possible-move{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: clamp(10px, 2vmin ,20px);
    aspect-ratio: 1/1;
    display:none;

    &.active{
        display:revert;
    }
    &.active.with-piece{
        display:revert;
        width: 100%;
        border-radius: 30%;
    }
}

.choosen-piece{
    background: $light_green;
}


.checked{
    background-color:coral ;
}

.popup{
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition : 300ms ease-in-out; 
    z-index: 10;
    background-color: white;
    border-radius: 3px;
    width: clamp(240px,90vw,40rem);
    height: clamp(240px,40vmin,20rem);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.active{
        transform : translate(-50%,-50%) scale(1);
    }

    h1{
        font-size: clamp(.2rem,5vmin,2.7rem);
    }

    button{
        color:rgb(218, 202, 202);
        font-weight: bolder;
        font-size: clamp(.6rem,2vmin,1rem);
        padding: .6rem 1rem;
        border-radius: 7px;
        background-color: rgb(13, 194, 194);
        border: 1px solid blue;
        cursor:pointer;
        transition: 0.2s;

        &:hover{
            transform:scale(1.1);
            background-color: rgb(79, 204, 164);
        }
    }
}